body {
    padding: 0px 60px;
    direction: rtl;
    background-color: #F5F5F5;
}
.containerAccordion {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.app {
    font-family: 'DanaFaNum';
    margin-top: 10rem;
    border-top: 1px solid #ccc;
}

.item {
    margin-bottom: 24px;
    width: 648px;
    margin-left: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(137, 137, 137, 0.1);
    border-radius: 8px;
}

.App_containerAccordion__PvOz5 {
    background-color: #B0BF24 !important;
}

.itemBtn {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    // width: 100%;
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
    text-align: left;
    color: #3A3A3A;
    background-color: transparent;
    border: none;
    box-sizing: border-box;

}

.itemContent {
    transition: height 0.2s ease-in-out;
}

.itemPanel {
    font-family: 'DanaFaNum';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: justify;
    color: #656565;
    padding: 1rem;

}

.chevron {
    margin-left: auto;
    transition: transform 0.2s ease-in-out;
    position: absolute;
    right: 600px;
}

.itemBtnExpanded .chevron {
    transform: rotate(180deg);
}

.lineAccordion {
    width: 610px;
    height: 0px;
    margin-top: -15px;
    border: 1px solid #EFEFEF;
}

.textAccordion {
    margin-top: 10px;
}

.title {
    margin-bottom: -20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .titleText {
        font-family: 'DanaFaNum';
        font-style: normal;
        font-weight: 800;
        font-size: 34px;
        line-height: 40px;
        text-align: right;
        color: #000000
    }

    .divImg {
        cursor: pointer;
        width: 36px;
        height: 36px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        box-shadow: 0px 15px 30px rgba(233, 237, 242, 0.5);
        border-radius: 8px;
    }
}

.textHome {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    text-align: right;
    color: #B0BF24;
    cursor: pointer;
}

.textQes {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    text-align: right;
    color: #000000
}

.line {
    width: 1320px;
    height: 0px;
    border: 1px solid #E4E6EF;
    transform: rotate(-180deg);
    margin-bottom: 32px;
}
.errorContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.error{
    color: #B0BF24;
    font-size: 60px;
    font-weight: 600;
}